.form-label {
  margin-bottom: 0.1rem;
}

input.ng-invalid {
  border-color: #ffc107cb;
}

input.ng-invalid:focus {
  outline: none;
  border-color: #ffc107cb;
  box-shadow: 0 0 10px #ffc107;
}

.unselectable {
  -webkit-touch-callout: none!important;
  -webkit-user-select: none!important;
  -khtml-user-select: none!important;
  -moz-user-select: none!important;
  -ms-user-select: none!important;
  user-select: none!important;
}
