<div style="background: white">
  <h2>Create</h2>
  <button class="mat-raised-button mat-primary" (click)="delete()">
    Delete
  </button>
  <table [formGroup]="formGroup">
    <tr>
      <th>
        <label>Company</label>
      </th>
      <td>
        <input type="text" class="form-group" formControlName="name" />
      </td>
      <th>
        <label>Prityori</label>
      </th>
      <td>
        <select name="priority" class="form-group" formControlName="priority">
          <option value="0"></option>
          <option value="1">Interested, Immediate</option>
          <option value="2">Interested, Not Immediate</option>
          <option value="3">Not interested</option>
          <option value="4">No response</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>
        <label>Location</label>
      </th>
      <td>
        <input type="text" class="form-group" formControlName="location" />
      </td>
    </tr>
    <tr>
      <th>
        <label>contactPerson</label>
      </th>
      <td>
        <input type="text" class="form-group" formControlName="contactPerson" />
      </td>

      <th>
        <label>contactRole</label>
      </th>
      <td>
        <input type="text" class="form-group" formControlName="contactRole" />
      </td>
    </tr>
    <tr>
      <th>
        <label>internalRepresentative</label>
      </th>
      <td>
        <input
          type="text    </tr>"
          class="form-group"
          formControlName="internalRepresentative"
        />
      </td>
      <th>
        <label>internalComment</label>
      </th>
      <td>
        <textarea
          class="form-group"
          formControlName="internalComment"
        ></textarea>
      </td>
    </tr>
    <tr>
      <th>
        <label>isEmailSent</label>
      </th>
      <td>
        <input
          type="checkbox"
          class="form-group"
          formControlName="isMailSent"
          value="1"
        />
      </td>
    </tr>
    <button (click)="addEmptyField(formGroup.controls.email)">add email</button>
    <tr>
      <th>Emails</th>
      <td>
        <app-text-inputs
          [inputFormArray]="formGroup.controls.email"
        ></app-text-inputs>
      </td>
    </tr>
    <button (click)="addEmptyField(formGroup.controls.phone)">add phone</button>
    <tr>
      <th>Phone</th>
      <td>
        <app-text-inputs
          [inputFormArray]="formGroup.controls.phone"
        ></app-text-inputs>
      </td>
    </tr>
  </table>
  <div>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button
      *ngIf="!formGroup.value.customerId"
      class="mat-raised-button mat-primary"
      (click)="save()"
    >
      Save
    </button>
    <button
      *ngIf="formGroup.value.customerId"
      class="mat-raised-button mat-primary"
      (click)="edit()"
    >
      Edit
    </button>
  </div>
</div>
