<!-- <div class="col-12">
  <input
    id="files"
    mat-input
    type="file"
    (change)="incomingfile($event)"
    placeholder="Upload file"
    accept=".xls, .xlsx"
    hidden
  />

  <label mat-raised-button for="files">Upload</label>
  <br />
  <button type="button" class="btn btn-info" (click)="Upload()">Upload</button>
</div> -->
<ng-container *ngIf="!showUploadButton">
  <button
    type="button"
    class="d-flex btn btn-success btn-sm"
    (click)="showButton(true)"
  >
    Import excel
  </button>
</ng-container>
<ng-container *ngIf="showUploadButton">
  <a style="cursor: pointer" (click)="showButton(false)">
    <i class="bi bi-x"></i>
  </a>
  <div class="input-group input-group-sm mb-3">
    <input
      type="file"
      class="form-control px-1"
      (change)="incomingfile($event)"
      placeholder="Upload file"
      accept=".xls, .xlsx"
    />
    <button type="button" class="btn btn-info btn-sm px-1" (click)="Upload()">
      Upload
    </button>
  </div>
</ng-container>
